{% extends ":mission:list.html.twig" %}
{% block title %}Missions{% endblock %}
{% block breadcrumb %}
    {{ parent() }}
    <li><a href="#">{% if mission.id is null %}Ajout{% else %}Modif{% endif %}</a></li>
{% endblock %}
 {% block body %}
     <div class="row">
         <div class="col-md-12">
             {{ form_start(form) }}
             <div class="panel panel-flat">
                 <div class="panel-body">
                     <div class="row">
                         {{ forms.input("col-md-3","Date",form.date) }}
                         {{ forms.input("col-md-3","Client",form.client) }}
                         {{ forms.input("col-md-3","Vehicule",form.vehicule) }}
                         {{ forms.input("col-md-3","Remorque",form.remorque) }}
                     </div>
                     <div class="row">
                         {{ forms.input("col-md-3","Depot Chargement",form.depotChargement) }}
                         {{ forms.input("col-md-3","Depot Dechargement",form.depotDechargement) }}
                         {{ forms.input("col-md-3","Prix",form.prix) }}
                     </div>
                     <div class="row">
                         {{ forms.input("col-md-12","Commentaire",form.commentaire) }}
                     </div>
                     {{ buttons.submitForm() }}
                 </div>
             </div>
             {{ form_end(form) }}
         </div>
     </div>
 {% endblock %}
{% block javascripts %}
    {{ scripts.form() }}
{% endblock %}
