{% extends "base.html.twig" %}
{% block title %}Vehicules{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ path('vehicule_list') }}">Vehicules</a></li>
{% endblock %}
 {% block body %}
     <div class="panel panel-body">
         <div class="panel-heading">
             {{ buttons.addItem("Nouveau vehicule",path("vehicule_form")) }}
         </div>
         <table class="table datatable-basic">
         <thead>
             <tr>
                 <th>Date de circulation</th>
                 <th>Matricule</th>
                 <th>Marque</th>
                 <th>Num Chassit</th>
                 <th>Chauffeur</th>
                 <th>Enable</th>
                 <th>Action</th>
             </tr>
             </thead>
             <tbody>
             {% for vehicule in vehicules %}
                 <tr>
                     <td>{{ vehicule.dateCirculation|date('Y-m-d    ')  }}</td>
                     <td>{{ vehicule.matricule }}</td>
                     <td>{{ vehicule.marque }}</td>
                     <td>{{ vehicule.numChassit }}</td>
                     <td>{{ vehicule.chauffeur }}</td>
                     <td>
                         {% if vehicule.enable %}
                             <span class="label label-success" >Enable</span>
                         {% else %}
                             <span class="label label-danger">Disable</span>
                         {% endif %}
                     </td>
                     <td>
                         <ul class="icons-list">
                             <li class="dropdown">
                                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                     <i class="icon-menu9"></i>
                                 </a>
                                 <ul class="dropdown-menu dropdown-menu-right">
                                     <li>{{ buttons.redirectAction(path("vehicule_form",{id:vehicule.id}),"icon-pencil","Modifier") }}</li>
                                     <li>{{ buttons.redirectAction(path("vehicule_delete",{id:vehicule.id}),"icon-trash","Supprimer",'Etes vous certain de vouloir supprimer cette vehicule') }}</li>
                                     <li>{{ buttons.redirectAction(path("vehicule_form_chauffeurs",{id:vehicule.id}),"icon-users","Chauffeurs") }}</li>
                                     <li>{{ buttons.redirectAction(path("vehicule_form_carburants",{id:vehicule.id})," icon-gas","Carburants") }}</li>
                                     <li>{{ buttons.redirectAction(path("vehicule_form_entretients",{id:vehicule.id}),"icon-hammer-wrench","Entretients") }}</li>
                                     <li>{{ buttons.redirectAction(path("vehicule_form_visiteTechniques",{id:vehicule.id}),"icon-hammer-wrench","Visites techniques") }}</li>
                                 </ul>
                             </li>
                         </ul>
                     </td>
                 </tr>
             {% endfor %}
             </tbody>
         </table>
     </div>
 {% endblock %}
{% block javascripts %}
    {{ scripts.dataTable() }}
{% endblock %}