{% extends ":depot:list.html.twig" %}
{% block title %}Depot{% endblock %}
{% block breadcrumb %}
    {{ parent() }}
    <li><a href="#">{% if depot.id is null %}Ajout{% else %}Modif{% endif %}</a></li>
{% endblock %}
 {% block body %}
     <div class="row">
         <div class="col-md-12">
             {{ form_start(form) }}
             <div class="panel panel-flat">
                 <div class="panel-body">
                     <div class="row">
                         {{ forms.input("col-md-4","Code",form.code) }}
                         {{ forms.input("col-md-4","Libellé",form.libelle) }}
                     </div>
                     <div class="row">
                         {{ forms.input("col-md-8","Adresse",form.adresse) }}
                     </div>
                     {{ buttons.submitForm() }}
                 </div>
             </div>
             {{ form_end(form) }}
         </div>
     </div>
 {% endblock %}
{% block javascripts %}
    {{ scripts.form() }}
{% endblock %}
