{% extends "base.html.twig" %}
{% block title %}Change password{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ path('fos_user_change_password') }}">Change password</a></li>
{% endblock %}
{% block body %}
    {% trans_default_domain 'FOSUserBundle' %}
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
            <div class="panel panel-flat">
                <div class="panel-body">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                    <div class="row">
                        {{ forms.input("col-md-12","Current Password",form.current_password) }}
                    </div>
                    <div class="row">
                        {{ forms.input("col-md-12","New Password",form.plainPassword.first) }}
                    </div>
                    <div class="row">
                        {{ forms.input("col-md-12","Confirmation",form.plainPassword.second) }}
                    </div>
                    {{ buttons.submitForm() }}
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
