<div class="sidebar sidebar-main">
    <div class="sidebar-content">
        <div class="sidebar-user">
            <div class="category-content">
                <div class="media">
                    <a href="#" class="media-left"><img src="{{ asset('back_template/assets/images/avatar.png') }}" class="img-circle img-sm" alt=""></a>
                    <div class="media-body">
                        <span class="media-heading text-semibold">{{ app.user.fullName }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar-category sidebar-category-visible">
            <div class="category-content no-padding">
                <ul class="navigation navigation-main navigation-accordion">
                    <li {% if app.request.get('_route')=="dashbord" %}class="active"{% endif %}>
                        <a href="{{ path('dashbord') }}">
                            <i class="icon-home4"></i> <span>Tableau de bord</span></a>
                    </li>
                    <li {% if app.request.getPathInfo|split('/user')|length > 1 %} class="active"{% endif %}>
                        <a href="{{ path('user_list') }}"><i class="icon-users2"></i> <span>Utilisateurs</span></a>
                    </li>
                    <li {% if app.request.getPathInfo|split('/chauffeur')|length > 1 %} class="active"{% endif %}>
                        <a href="{{ path('chauffeur_list') }}"><i class="icon-users4"></i> <span>Chauffeurs</span></a>
                    </li>
                    <li {% if app.request.getPathInfo|split('/vehicule')|length > 1 %} class="active"{% endif %}>
                        <a href="{{ path('vehicule_list') }}"><i class="icon-car"></i> <span>Vehicules</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>