<div class="sidebar sidebar-main">
    <div class="sidebar-content">
        <div class="sidebar-user">
            <div class="category-content">
                <div class="media">
                    <a href="#" class="media-left"><img src="{{ asset('back_template/assets/images/avatar.png') }}" class="img-circle img-sm" alt=""></a>
                    <div class="media-body">
                        <span class="media-heading text-semibold">{{ app.user.fullName }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar-category sidebar-category-visible">
            <div class="category-content no-padding">
                <ul class="navigation navigation-main navigation-accordion">
                    <li {% if app.request.get('_route')=="dashbord" %}class="active"{% endif %}>
                        <a href="{{ path('dashbord') }}"> <i class="icon-home4"></i> <span>Tableau de bord</span></a>
                    </li>

                    <li {% if app.request.getPathInfo|split('/user')|length > 1 %} class="active"{% endif %}>
                        <a href="{{ path('user_list') }}"><i class="icon-users2"></i> <span>Utilisateurs</span></a>
                    </li>

                    <li {% if app.request.getPathInfo|split('/client')|length > 1 %} class="active"{% endif %}>
                        <a href="{{ path('client_list') }}"><i class="icon-user-tie"></i> <span>Clients</span></a>
                    </li>
                    <li {% if app.request.getPathInfo|split('/chauffeur')|length > 1 %} class="active"{% endif %}>
                        <a href="{{ path('chauffeur_list') }}"><i class="icon-steering-wheel"></i> <span>Chauffeurs</span></a>
                    </li>
                    <li {% if app.request.getPathInfo|split('/mission')|length > 1 %} class="active"{% endif %}>
                        <a href="{{ path('mission_list') }}"><i class="icon-tab"></i> <span>Missions</span></a>
                    </li>
                    <li>
                        <a href=""><i class="icon-truck"></i> <span>Parc</span></a>
                        <ul>
                            <li {% if app.request.getPathInfo|split('/vehicule')|length > 1 %} class="active"{% endif %}>
                                <a href="{{ path('vehicule_list') }}"><span>Vehicules</span></a>
                            </li>
                            <li {% if app.request.getPathInfo|split('/remorque')|length > 1 %} class="active"{% endif %}>
                                <a href="{{ path('remorque_list') }}"><span>Remorques</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href=""><i class=" icon-hammer-wrench"></i> <span>Paramétrage</span></a>
                        <ul>
                            <li {% if app.request.getPathInfo|split('/typeEntretient')|length > 1 %} class="active"{% endif %}>
                                <a href="{{ path('typeEntretient_list') }}"><span>Types Entretient</span></a>
                            </li>
                            <li {% if app.request.getPathInfo|split('/depot')|length > 1 %} class="active"{% endif %}>
                                <a href="{{ path('depot_list') }}"><span>Depots</span></a>
                            </li>
                            <li {% if app.request.getPathInfo|split('/marque')|length > 1 %} class="active"{% endif %}>
                                <a href="{{ path('marque_list') }}"><span>Marques</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>