{% extends "base.html.twig" %}
{% block title %}Chauffeurs{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ path('chauffeur_list') }}">Chaffeurs</a></li>
{% endblock %}
 {% block body %}
     <div class="panel panel-body">
         <div class="panel-heading">
             {{ buttons.addItem("Nouveau chauffeur",path("chauffeur_form")) }}
         </div>
         <table class="table" id="myTable">
             <thead>
             <tr>
                 <th>#</th>
                 <th>Nom</th>
                 <th>Prenom</th>
                 <th>Date de naissance</th>
                 <th>Matricule</th>
                 <th>Tel 1 </th>
                 <th>Tel 2 </th>
                 <th>Adresse</th>
                 <th>Enable</th>
                 <th>Action</th>
             </tr>
             </thead>
             <tbody>
             {% for chauffeur in chaffeurs %}
                 <tr>
                     <td>{{ chauffeur.id }}</td>
                     <td>{{ chauffeur.nom }}</td>
                     <td>{{ chauffeur.prenom }}</td>
                     <td>{{ chauffeur.naissance|date('d/m/Y') }}</td>
                     <td>{{ chauffeur.matricule }}</td>
                     <td>{{ chauffeur.tel }}</td>
                     <td>{{ chauffeur.tel2 }}</td>
                     <td>{{ chauffeur.adresse }}</td>
                     <td>
                         {% if chauffeur.enable %}
                             <span class="label label-success" >Enable</span>
                         {% else %}
                             <span class="label label-danger">Disable</span>
                         {% endif %}
                     </td>
                     <td>
                         <ul class="icons-list">
                             <li>{{ buttons.updateAction(path("chauffeur_form",{id:chauffeur.id})) }}</li>
                             <li>{{ buttons.redirectAction(path("chauffeur_delete",{id:chauffeur.id}),"icon-trash",null,'Etes vous certain de vouloir supprimer ce chauffeur') }}</li>
                             <li>{{ buttons.redirectAction(path("chauffeur_form_salaires",{id:chauffeur.id}),"icon-coins",null) }}</li>
                         </ul>
                     </td>
                 </tr>
             {% endfor %}
             </tbody>
         </table>
     </div>
 {% endblock %}