{% extends ":chauffeur:form.html.twig" %}
{% block title %}Salaires{% endblock %}
{% block breadcrumb %}
    {{ parent() }}
    <li><a href="#">Salaires</a></li>
{% endblock %}
 {% block body %}
      {% if is_granted("ROLE_RESPONSABLE_SALAIRE")%}
                <div class="row">
                <div class="col-md-12">
                    {{ form_start(form) }}
                    <div class="panel panel-flat">
                        <div class="panel-body">
                            <div class="row">
                                {{ forms.input("col-md-3","Montant Dejeunee",form.montantDejeuner) }}
                                {{ forms.input("col-md-3","Montant Dinee",form.monatantDinee) }}
                                {{ forms.input("col-md-3","Montant Nuitee",form.montantNuitee) }}
                                {{ forms.input("col-md-3","Heure Supplimantaire 50%",form.heureSupp50) }}
                                {{ forms.input("col-md-3","Heure Supplimantaire 75%",form.heureSupp75) }}
                            </div>
                            <div class="row">
                                {{ forms.input("col-md-3","Date",form.date) }}
                            </div>
                            {{ buttons.submitForm() }}
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
      {% endif %}
            <div class="row">
                <div class="panel panel-body">
                    <table class="table" id="myTable">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Montant Dejeunee</th>
                            <th>Montant Dinee</th>
                            <th>Montant Nuitee</th>
                            <th>Heure Supplimantaire 50%</th>
                            <th>Heure Supplimantaire 75%</th>
                            {% if is_granted("ROLE_RESPONSABLE_SALAIRE")%}
                            <th>Action</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for pointage in pointages %}
                            <tr>
                                <td>{{ pointage.date|date("d/m/Y") }}</td>
                                <td>{{ pointage.montantDejeuner }}</td>
                                <td>{{ pointage.monatantDinee }}</td>
                                <td>{{ pointage.montantNuitee }}</td>
                                <td>{{ pointage.heureSupp50}}</td>
                                <td>{{ pointage.heureSupp75 }}</td>
                                <td>
                                    {% if is_granted("ROLE_RESPONSABLE_SALAIRE")%}
                                    <ul class="icons-list">
                                        <li>{{ buttons.updateAction(path("chauffeur_form_pointages",{ id:chauffeur.id , id2:pointage.id})) }}</li>
                                        <li>{{ buttons.redirectAction(path("pointage_delete",{id:pointage.id}),"icon-trash",null,'Etes vous certain de vouloir supprimer ce bon') }}</li>
                                    </ul>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endblock %}
