{% extends ":remorque:list.html.twig" %}
{% block title %}Remorques{% endblock %}
{% block breadcrumb %}
    {{ parent() }}
    <li><a href="#">{% if remorque.id is null %}Ajout{% else %}Modif{% endif %}</a></li>
{% endblock %}
 {% block body %}
     <div class="row">
         <div class="col-md-12">
             {{ form_start(form) }}
             <div class="panel panel-flat">
                 <div class="panel-body">
                     <div class="row">
                         {{ forms.input("col-md-3","Date de Circulation",form.dateCirculation) }}
                         {{ forms.input("col-md-3","Matricule",form.matricule) }}
                         {{ forms.input("col-md-3","Marque",form.marque) }}
                         {{ forms.input("col-md-3","Numero de Chassit",form.numChassit) }}
                     </div>
                     <div class="row">
                         {{ forms.checkbox("col-md-4","Enable",form.enable) }}
                     </div>
                     {{ buttons.submitForm() }}
                 </div>
             </div>
             {{ form_end(form) }}
         </div>
     </div>
 {% endblock %}
{% block javascripts %}
    {{ scripts.form() }}
{% endblock %}
