{% extends "base.html.twig" %}
{% block title %}Remorques{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ path('remorque_list') }}">Remorques</a></li>
{% endblock %}
 {% block body %}
     <div class="panel panel-body">
         <div class="panel-heading">
             {{ buttons.addItem("Nouvelle Remorque",path("remorque_form")) }}
         </div>
         <table class="table datatable-basic">
             <thead>
             <tr>
                 <th>#</th>
                 <th>Date de circulation</th>
                 <th>Matricule</th>
                 <th>Marque</th>
                 <th>Num Chassit</th>
                 <th>Enable</th>
                 <th>Action</th>
             </tr>
             </thead>
             <tbody>
             {% for remorque in remorques %}
                 <tr>
                     <td>{{ remorque.id }}</td>
                     <td>{{ remorque.dateCirculation|date('d/m/Y')  }}</td>
                     <td>{{ remorque.matricule }}</td>
                     <td>{{ remorque.marque }}</td>
                     <td>{{ remorque.numChassit }}</td>

                     <td>
                         {% if remorque.enable %}
                             <span class="label label-success" >Enable</span>
                         {% else %}
                             <span class="label label-danger">Disable</span>
                         {% endif %}
                     </td>
                     <td>
                         <ul class="icons-list">
                             <li class="dropdown">
                                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                     <i class="icon-menu9"></i>
                                 </a>
                                 <ul class="dropdown-menu dropdown-menu-right">
                    {% if is_granted("ROLE_RESP_TRANSPORT")%}
                             <li>{{ buttons.redirectAction(path("remorque_form",{id:remorque.id}),"icon-pencil","Modifier") }}</li>
                             <li>{{ buttons.redirectAction(path("remorque_delete",{id:remorque.id}),"icon-trash","Supprimer",'Etes vous certain de vouloir supprimer cette remorque') }}</li>
                    {% endif %}
                    {% if is_granted("ROLE_EXPLOITATION") or is_granted("ROLE_RESP_TRANSPORT") %}
                             <li>{{ buttons.redirectAction(path("remorque_form_entretients",{id:remorque.id}),"icon-hammer-wrench","Entretients") }}</li>
                    {% endif %}
                    {% if is_granted("ROLE_RESP_TRANSPORT") or is_granted("ROLE_EXPLOITATION")%}
                             <li>{{ buttons.redirectAction(path("remorque_form_visiteTechniques",{id:remorque.id}),"icon-steering-wheel","Visites Techniques") }}</li>
                             <li>{{ buttons.redirectAction(path("remorque_form_permisCirculations",{id:remorque.id}),"icon-steering-wheel","Permis de Circulation") }}</li>                                 </ul>
                    {% endif %}
                             </li>
                         </ul>
                     </td>
                 </tr>
             {% endfor %}
             </tbody>
         </table>
     </div>
 {% endblock %}
{% block javascripts %}
    {{ scripts.dataTable() }}
{% endblock %}