{% extends ":remorque:form.html.twig" %}
{% block title %}Permis de Circulation{% endblock %}
{% block breadcrumb %}
    {{ parent() }}
    <li><a href="#">Permis de Circulation</a></li>
{% endblock %}
 {% block body %}
     {% if is_granted("ROLE_EXPLOITATION")%}
     <div class="row">
         <div class="col-md-12">
             {{ form_start(form) }}
             <div class="panel panel-flat">
                 <div class="panel-body">
                     <div class="row">
                         {{ forms.input("col-md-3","Date",form.date) }}
                         {{ forms.input("col-md-3","Date Prochaine visite",form.prochaineDate) }}
                     </div>
                     {{ buttons.submitForm() }}
                 </div>
             </div>
             {{ form_end(form) }}
         </div>
     </div>
     {% endif %}
     <div class="row">
         <div class="panel panel-body">
             <table class="table" id="myTable">
                 <thead>
                 <tr>
                     <th>Date Permis</th>
                     <th>Prochain Date Permis</th>
                     {% if is_granted("ROLE_EXPLOITATION")%}
                     <th>Action</th>
                     {% endif %}
                 </tr>
                 </thead>
                 <tbody>
                 {% for entretient  in remorque.permisCirculations %}
                     <tr>
                         <td>{{ entretient.date|date('d/m/Y') }}</td>
                         <td>{{ entretient.prochaineDate|date('d/m/Y') }}</td>
                         <td>
                             {% if is_granted("ROLE_EXPLOITATION")%}
                             <ul class="icons-list">
                                 <li>{{ buttons.updateAction(path("remorque_form_permisCirculations",{id:remorque.id, id2:entretient.id})) }}</li>
                                 <li>{{ buttons.redirectAction(path("remorque_permisCirculation_delete",{id:entretient.id}),"icon-trash",null,'Etes vous certain de vouloir supprimer ce permit de circulation') }}</li>
                             </ul>
                             {% endif %}
                         </td>
                     </tr>
                 {% endfor %}
                 </tbody>
             </table>
         </div>
     </div>
 {% endblock %}
{% block javascripts %}
    {{ scripts.form() }}
{% endblock %}
