{% extends "base.html.twig" %}
{% block title %}Clients{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ path('client_list') }}">Clients</a></li>
{% endblock %}
 {% block body %}
     <div class="panel panel-body">
         <div class="panel-heading">
             {{ buttons.addItem("Nouveau client",path("client_form")) }}
         </div>
         <table class="table" id="myTable">
             <thead>
             <tr>
                 <th>#</th>
                 <th>Nom</th>
                 <th>Tel</th>
                 <th>Adresse</th>
                 <th>Action</th>
             </tr>
             </thead>
             <tbody>
             {% for client in clients %}
                 <tr>
                     <td>{{ client.id }}</td>
                     <td>{{ client.nom }}</td>
                     <td>{{ client.tel1 }} {% if client.tel2 %}/{{ client.tel2 }}{% endif %}</td>
                     <td>{{ client.adresse }}</td>
                     <td>
                         <ul class="icons-list">
                             <li>{{ buttons.updateAction(path("client_form",{id:client.id})) }}</li>
                             <li>{{ buttons.redirectAction(path("client_delete",{id:client.id}),"icon-trash",null,'Etes vous certain de vouloir supprimer cette client') }}</li>
                         </ul>
                     </td>
                 </tr>
             {% endfor %}
             </tbody>
         </table>
     </div>
 {% endblock %}