{% extends 'base.html.twig' %}
{% block title %}
    CATT - Dashboard
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h6 class="panel-title">Missions</h6>
                </div>
                <div class="table-responsive">
                    <table class="table text-nowrap">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Client</th>
                            <th>Vehicule</th>
                            <th>Remorque</th>
                            <th>Depot Dechargement</th>
                            <th>Depot Chargement</th>
                            <th>Valid.</th>
                            <th>Etat</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if missionsToDay|length>0 %}
                            <tr class="active border-double">
                                <td colspan="5">Aujourd'hui</td>
                                <td class="text-right">
                                    <span class="progress-meter" id="today-progress" data-progress="30"></span>
                                </td>
                            </tr>
                        {% endif %}
                        {% for mission in missionsToDay %}
                            <tr>
                            <td>{{ mission.date|date('Y-m-d') }}</td>
                            <td>{{ mission.client}}</td>
                            <td>{{ mission.vehicule}}</td>
                            <td>{{ mission.remorque}}</td>
                            <td>{{ mission.depotChargement}}</td>
                            <td>{{ mission.depotDechargement}}</td>
                            <td>{{ mission.validateur}}</td>
                            <td>{{ mission.showEtat|raw }}</td>
                            </tr>
                        {% endfor %}
                        {% if missionsTommorow|length>0 %}
                            <tr class="active border-double">
                                <td colspan="5">Demain</td>
                                <td class="text-right">
                                    <span class="progress-meter" id="yesterday-progress" data-progress="65"></span>
                                </td>
                            </tr>
                        {% endif %}
                        {% for mission in missionsTommorow %}
                            <tr>
                            <td>{{ mission.date|date('Y-m-d') }}</td>
                            <td>{{ mission.client}}</td>
                            <td>{{ mission.vehicule}}</td>
                            <td>{{ mission.remorque}}</td>
                            <td>{{ mission.depotChargement}}</td>
                            <td>{{ mission.depotDechargement}}</td>
                            <td>{{ mission.validateur}}</td>
                            <td>{{ mission.showEtat|raw }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h6 class="panel-title">Visite Techniques <strong>[{{ "now"|date("F") }}]</strong></h6>
                </div>
                <div class="table-responsive">
                    <table class="table text-nowrap">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if visitesVehicule|length>0 %}
                            <tr class="active border-double">
                                <td colspan="5">Vehicules</td>
                                <td class="text-right">
                                    <span class="progress-meter" id="today-progress" data-progress="30"></span>
                                </td>
                            </tr>
                        {% endif %}
                        {% for visite in visitesVehicule %}
                            <tr>
                                <td>{{ visite.prochaineDate|date('d/m/Y') }}</td>
                                <td>{{ visite.vehicule}}</td>
                            </tr>
                        {% endfor %}
                        {% if visitesRemorque|length>0 %}
                            <tr class="active border-double">
                                <td colspan="5">Remorques</td>
                                <td class="text-right">
                                    <span class="progress-meter" id="today-progress" data-progress="30"></span>
                                </td>
                            </tr>
                        {% endif %}
                        {% for visite in visitesRemorque %}
                            <tr>
                                <td>{{ visite.prochaineDate|date('d/m/Y') }}</td>
                                <td>{{ visite.remorque}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h6 class="panel-title">Permis de circulation <strong>[{{ "now"|date("F") }}]</strong></h6>
                </div>
                <div class="table-responsive">
                    <table class="table text-nowrap">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if permisVehicule|length>0 %}
                            <tr class="active border-double">
                                <td colspan="5">Vehicules</td>
                                <td class="text-right">
                                    <span class="progress-meter" id="today-progress" data-progress="30"></span>
                                </td>
                            </tr>
                        {% endif %}
                        {% for permis in permisVehicule %}
                            <tr>
                                <td>{{ permis.prochaineDate|date('d/m/Y') }}</td>
                                <td>{{ permis.vehicule}}</td>
                            </tr>
                        {% endfor %}
                        {% if permisRemorque|length>0 %}
                            <tr class="active border-double">
                                <td colspan="5">Remorques</td>
                                <td class="text-right">
                                    <span class="progress-meter" id="today-progress" data-progress="30"></span>
                                </td>
                            </tr>
                        {% endif %}
                        {% for permis in permisRemorque %}
                            <tr>
                                <td>{{ permis.prochaineDate|date('d/m/Y') }}</td>
                                <td>{{ permis.remorque}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

